@model BookLibrary.Models.Domain.Book

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div class="card">
    <dl class="card-content">
        <dt class = "">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="row">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="row">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class="row">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.IsBorrowed)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.IsBorrowed)
        </dd>
        <div class="right-align">
            <a asp-action="Index" class="blue-text btn-flat">Back to List</a>
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary blue">Edit</a>
        </div>
    </dl>
</div>

