@model BookLibrary.Models.Domain.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="card">
    <dl class="card-content">
        <dt class = "">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="row">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="row">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="row">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="row">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <div class="right-align">
            @* <i class="material-icons">edit</i> *@
            @* <i class="material-icons">delete</i> *@
            <a asp-action="Index" class="blue-text btn-flat">Back to List</a>
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary blue">Edit</a>
        </div>
    </dl>
</div>

